*.o
*.a
po/*.pot
po/*.gmo
.deps
Version.h
Makefile
config.h
config.log
config.status
stamp-h1
src/menareants
server/menareants-server
server/menareantsd.conf
meta-server/menareants-meta-server
*.in
aclocal.m4
autom4te.cache/
compile
configure
debug_info
